body {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.3)), url('../imgs/money-tree.jpg');
    background-size: cover;
    background-position: top;
}

#landing-div {
    width: 50%;
    height: 30%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-family: 'Noto Sans', sans-serif;
}

.btn {
    margin: 5px;
}

#landing-regis {
    background-color: #ffc933;
    color: #383836;
}